*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

# 내부(10.2.3.0/24) -> 외부 인터넷 허용
-A FORWARD -i {{ proxy_internal_iface }} -o {{ proxy_external_iface }} -s 10.2.3.0/24 -j ACCEPT
# 외부 -> 내부로 돌아오는 트래픽 허용(세션 기반)
-A FORWARD -i {{ proxy_external_iface }} -o {{ proxy_internal_iface }} -d 10.2.3.0/24 -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

# 내부망을 외부 NIC로 NAT(MASQUERADE)
-A POSTROUTING -s 10.2.3.0/24 -o {{ proxy_external_iface }} -j MASQUERADE

COMMIT

