- name: Render haproxy.cfg
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
  notify: restart haproxy

- name: Start haproxy
  ansible.builtin.service:
    name: haproxy
    state: started

