---
# roles/backup/tasks/main.yml

# -----------------------------
# NFS Server (storageVM)
# -----------------------------
- import_tasks: nfs_server.yml
  when: inventory_hostname in groups.get('backup_server', [])

# -----------------------------
# NFS Client + pgBackRest (dbb)
# -----------------------------
- import_tasks: nfs_client.yml
  when: inventory_hostname in groups.get('backup_clients', [])

- import_tasks: pgbackrest_install.yml
  when: inventory_hostname in groups.get('backup_clients', [])

- import_tasks: pgbackrest_config.yml
  when: inventory_hostname in groups.get('backup_clients', [])

- import_tasks: pgbackrest_stanza.yml
  when: inventory_hostname in groups.get('backup_clients', [])

- import_tasks: pgbackrest_follow_primary.yml
  when: inventory_hostname in groups.get('backup_clients', [])


- import_tasks: db_backup_cron.yml
  when: inventory_hostname in groups.get('backup_clients', [])

