- name: Install NFS client packages
  package:
    name: nfs-utils
    state: present

- name: Create mount point
  file:
    path: "{{ local_mount_path }}"
    state: directory

- name: Mount NFS storage
  mount:
    path: "{{ local_mount_path }}"
    src: "{{ storage_ip }}:{{ nfs_export_path }}"
    fstype: nfs
    opts: rw,_netdev
    state: mounted

