- name: Install NFS client packages
  package:
    name: nfs-utils
    state: present

- name: backup - Ensure postgres user exists
  ansible.builtin.user:
    name: postgres
    system: true
    create_home: true
    home: /var/lib/pgsql
    shell: /sbin/nologin
  become: true

- name: Create mount point
  ansible.builtin.file:
    path: "{{ backup_nfs_mount_point }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0755"
  when: inventory_hostname in groups['backup_clients']

- name: Mount NFS storage
  ansible.posix.mount:
    path: "{{ backup_nfs_mount_point }}"
    src: "{{ hostvars[groups['backup_server'][0]].ansible_host }}:{{ backup_nfs_export_dir }}"
    fstype: nfs
    opts: "rw,sync,hard,timeo=600,retrans=2"
    state: mounted
  when: inventory_hostname in groups['backup_clients']

