---
- name: (RedHat 계열) 방화벽에서 NFS 서비스 허용
  firewalld:
    service: nfs
    permanent: yes
    state: enabled
    immediate: yes
  when: ansible_os_family == "RedHat"
  ignore_errors: yes  # 방화벽 서비스가 없는 경우 대비

- name: NFS 서비스 시작 및 활성화
  service:
    name: "{{ (ansible_os_family == 'RedHat') | ternary('nfs-server', 'nfs-kernel-server') }}"
    state: started
    enabled: yes

- name: NFS 서버 패키지 설치
  package:  # apt 대신 package 사용
    name: "{{ (ansible_os_family == 'RedHat') | ternary('nfs-utils', 'nfs-kernel-server') }}"
    state: present

- name: 백업 저장 디렉토리 생성
  file: path="{{ nfs_export_path }}" state=directory mode='0777'

- name: NFS 권한 허용 (db-b 접근)
  lineinfile:
    path: /etc/exports
    line: "{{ nfs_export_path }} 10.2.3.4(rw,sync,no_subtree_check)"
    create: yes

- name: NFS 서비스 시작 및 활성화
  service:
    name: "{{ (ansible_os_family == 'RedHat') | ternary('nfs-server', 'nfs-kernel-server') }}"
    state: restarted
    enabled: yes
