- name: Install firewalld (RHEL)
  ansible.builtin.dnf:
    name: firewalld
    state: present
  when: ansible_os_family == "RedHat"

- name: Enable and start firewalld (RHEL)
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true
  when: ansible_os_family == "RedHat"


- name: Install NFS server packages
  package:
    name: nfs-utils
    state: present

- name: Enable and start rpcbind and nfs-server
  systemd:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - rpcbind
    - nfs-server

- name: Open NFS related firewall services
  firewalld:
    service: "{{ item }}"
    permanent: yes
    state: enabled
    immediate: yes
  loop:
    - nfs
    - mountd
    - rpc-bind

- name: Create export directory
  ansible.builtin.file:
    path: "{{ backup_nfs_export_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  when: inventory_hostname in groups['backup_server']

- name: Pick backup client host (first host in backup_clients)
  ansible.builtin.set_fact:
    _backup_client_host: "{{ groups['backup_clients'][0] }}"
  when: inventory_hostname in groups['backup_server']

- name: Configure /etc/exports (allow backup client only)
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: "0644"
  when: inventory_hostname in groups['backup_server']
  notify: reload nfs exports

- name: Reload NFS exports
  ansible.builtin.command: exportfs -ra
  changed_when: false
