---
- name: StorageVM 전체 스냅샷 생성
  delegate_to: localhost
  vmware.vmware.vm_snapshot:
    hostname: "{{ vcenter_host }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_pass }}"
    datacenter: "{{ datacenter_name }}"
    # 모듈 버전에 따라 name 또는 vm_name 중 하나를 요구하므로 둘 다 시도해봅니다.
    vm_name: "{{ vm_name_in_vcenter | default('storageVM') }}"
    state: present
    snapshot_name: "Backup_Snap_{{ ansible_date_time.date }}"
    description: "Daily DB Backup Files Included"
    validate_certs: no
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
