---
- import_tasks: packages.yml
- import_tasks: network.yml
- import_tasks: firewall.yml
- import_tasks: etcd.yml
- import_tasks: postgres.yml
- import_tasks: patroni.yml
- import_tasks: pg_hba.yml
  when: inventory_hostname == 'db-a'
- import_tasks: pgbackrest.yml
  when: backup_enable | bool

- import_tasks: validate.yml

