---
- import_tasks: packages.yml
- import_tasks: network.yml
- import_tasks: firewall.yml
- import_tasks: etcd.yml
- import_tasks: postgres.yml  # <--- 여기서 pgpass가 생성됨
- import_tasks: patroni.yml   # <--- 여기서 Patroni가 뜨면서 pgpass를 읽음
- import_tasks: pg_hba.yml
  when: inventory_hostname == 'db-a'
- import_tasks: pgbackrest.yml
  when: backup_enable | bool

- import_tasks: validate.yml
