---
- import_tasks: packages.yml
- import_tasks: network.yml
- import_tasks: firewall.yml
- import_tasks: etcd.yml
- import_tasks: postgres.yml
- import_tasks: patroni.yml
- import_tasks: pgbackrest.yml
- import_tasks: validate.yml

