# Managed by Ansible
# pgBackRest repository export (NAT friendly: allow multiple client CIDRs)

{% for cidr in _nfs_clients_list %}
{{ _nfs_export_dir }} {{ cidr }}(rw,sync,no_subtree_check,no_root_squash)
{% endfor %}

