# /etc/pgbackrest/ssh_config
# Managed by Ansible

Host *
  IdentitiesOnly yes
  PreferredAuthentications publickey
  PubkeyAuthentication yes
  StrictHostKeyChecking accept-new
  UserKnownHostsFile /root/.ssh/known_hosts
  ControlMaster no
  ControlPersist no
  LogLevel ERROR
  ConnectTimeout 5
  IdentityFile /root/.ssh/id_ed25519

