# /etc/pgbackrest/pgbackrest.conf
# Managed by Ansible

[global]
repo1-path={{ pgbackrest_repo_path | default('/mnt/pgbackrest') }}
repo1-retention-full={{ retention_full | default(7) }}
log-level-console=info
log-level-file=info
process-max=2
start-fast=y

[{{ pgbackrest_stanza | default('main') }}]
pg1-path={{ patroni_pg_data_dir | default('/var/lib/pgsql/patroni') }}
pg1-port={{ pg_port | default(5432) }}
pg1-user=postgres

pg1-host-user=root
pg1-host-cmd=/usr/local/bin/pgbackrest_host_cmd

