---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart patroni
  ansible.builtin.systemd:
    name: patroni
    state: restarted
  when: inventory_hostname in ['db-a', 'db-s']


- name: Reload patroni via REST
  ansible.builtin.uri:
    url: "http://{{ hostvars[inventory_hostname].ansible_host }}:{{ patroni_rest_port }}/reload"
    method: POST
    status_code: [200, 202]
    return_content: true
  register: patroni_reload_result
  failed_when: false
  changed_when: true

