---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart patroni
  ansible.builtin.systemd:
    name: patroni
    state: restarted
  when: inventory_hostname in ['db-a', 'db-s']
