scope: "{{ patroni_scope }}"
namespace: "{{ patroni_namespace | default('/service/') }}"
name: "{{ inventory_hostname }}"

restapi:
  listen: "{{ ansible_host }}:8008"
  connect_address: "{{ ansible_host }}:8008"

etcd3:
  hosts:
{% for h in etcd_endpoints %}
    - "{{ h }}"
{% endfor %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        hot_standby: "on"
        max_wal_senders: 10
        max_replication_slots: 10
        wal_keep_size: 256MB

  initdb:
    - encoding: UTF8
    - locale: C

  pg_hba:
    - "host all all 0.0.0.0/0 md5"
    - "host replication {{ patroni_replication_user }} 0.0.0.0/0 md5"

  users:
    {{ patroni_superuser }}:
      password: "{{ patroni_superuser_password }}"
      options:
        - createrole
        - createdb
    {{ patroni_replication_user }}:
      password: "{{ patroni_replication_password }}"
      options:
        - replication

postgresql:
  listen: "0.0.0.0:5432"
  connect_address: "{{ ansible_host }}:5432"
  data_dir: "{{ patroni_pg_data_dir }}"
  bin_dir: "{{ patroni_pg_bin_dir }}"
  authentication:
    superuser:
      username: "{{ patroni_superuser }}"
      password: "{{ patroni_superuser_password }}"
    replication:
      username: "{{ patroni_replication_user }}"
      password: "{{ patroni_replication_password }}"
  parameters:
    unix_socket_directories: "/var/run/postgresql"

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false

