scope: {{ patroni_scope }}
namespace: {{ patroni_namespace }}
name: {{ inventory_hostname }}

restapi:
  listen: 0.0.0.0:{{ patroni_rest_port }}
  connect_address: {{ db_nodes[inventory_hostname].ip }}:{{ patroni_rest_port }}

etcd:
  hosts: "{{ etcd_hosts }}"


bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        hot_standby: "on"
        max_wal_senders: 10
        max_replication_slots: 10
  initdb:
    - encoding: UTF8
    - data-checksums

postgresql:
  listen: 0.0.0.0:{{ pg_port }}
  connect_address: {{ db_nodes[inventory_hostname].ip }}:{{ pg_port }}
  data_dir: /var/lib/pgsql/data
  authentication:
    superuser:
      username: {{ pg_superuser }}
      password: {{ pg_superpass }}
    replication:
      username: {{ replication_user }}
      password: {{ replication_pass }}
  parameters:
    unix_socket_directories: "/var/run/postgresql"

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false

