[global]
repo1-path={{ pgbackrest_repo_path }}
repo1-retention-full={{ retention_full }}
start-fast=y
log-level-console=info

[main]
pg1-host={{ db_nodes['db-a'].ip }}
pg1-port={{ pg_port }}
pg1-path={{ patroni_pg_data_dir }}

pg2-host={{ db_nodes['db-s'].ip }}
pg2-port={{ pg_port }}
pg2-path={{ patroni_pg_data_dir }}

